{% extends "base.html" %}

{% block content %}
<h2>Movies I Have Watched:</h2>

<ul>
{% for movie in movies %}
    <li>
        <h3>{{ movie }}</h3>

        <!--
        TODO 3
        Each of these list items should contain a form that submits to /ratings
        The form should contain:
            - label that says "My Rating"
            - a dropdown menu with 6 options:
                - "How was it?"
                - *
                - **
                - ***
                - ****
                - *****
            - a hidden input to tell the back-end which movie we are rating
            - a submit button that says "Rate it!"
        -->
        <form action="/ratings" method="post">
            <input type="hidden" name="movie" value="{{ movie }}">
            <label>My Rating: </label>
            <select name="rating" value="{{ rating }}">How was it?
                <option value="0">X</option>
                <option value="1 Star">*</option>
                <option value="2 Stars">**</option>
                <option value="3 Stars">***</option>
                <option value="4 Stars">****</option>
                <option value="5 Stars">*****</option>
            </select>
            <input type="hidden" name="rating" value="{{ rating }}">
            <input type="submit" value="Rate It!">
        </form>

    </li>
{% endfor %}
</ul>
{% endblock %}
